.logonav {
    background-image: url('.././img/logowhite.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
  }
  .logowhite {
    background-image: url('.././img/logowhite.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
  }


  .navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:black !important;
    color: white !important;
  }
  .navbar-custom{
    width: 100%;
    
    transition: 0.5s;
}

  .nav-link{
      border-bottom: transparent;
      color: white !important;
  }

  .nav-link:hover{
      color: var(--colorDark);
      border-bottom: 2px solid var(--colorSoft);
      border-bottom: solid rgb(255, 255, 255);
      color: white !important;
      /* transform: translateY(-3px); */

  }
/* 
  .navbar-blur{
      backdrop-filter: blur(9px) saturate(0.8);
      background-color: var(--colorDark);
} */

