:root{
  --colorMiddle:rgb(166, 185, 200);
  --colorSoft::rgb(227, 234, 244);
  --colorDark:rgb(7, 43, 20);
}
.searchbarcontainer{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  position: relative;
  transition: width 0.1s;

}
.btnsearch{
  width: 80px;
  position: absolute;
  right: 20px;
  transition: all 0.1s;
  /* transition-delay: 0.5s; */
  background-color: var(--colorDark);
  
}
.magnify{
  width: 25px;
  font-size: large;
  position: absolute;
  left: 13px;
  color: var(--colorDark);
  cursor: pointer;
}
.inputsearchbar{
  background-color: transparent;
  border: none;
  margin: 10px 50px ;
  outline: none;
  color: var(--colorDark);
  transition: width 0.1s;

}
.active.searchbarcontainer{
  width: 45px;
  height: 45px;

}
.active .input{
  width: 0;

}
.formsearch{
  position: absolute;
  top: 75px;
  right: 20px;

}
/* .input-container1 {
  position: fixed;
  right: 0;
  top: 15px;
  z-index: 8;
  align-items: center;
}
.input-container {
  position: fixed;
  right: 0;
  z-index: 8;
  align-items: center;
}

.inputsearch {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 9;
}

.inputsearch::placeholder {
  color: transparent;
}

.inputsearch:focus::placeholder {
  color: rgb(131, 128, 128);
}

.inputsearch:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid var(--colorDark);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.iconsearch {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: 10;
  fill: var(--colorDark);
  border: 1px solid var(--colorSoft);
}

.inputsearch:focus + .iconsearch,.inputsearch:not(:placeholder-shown) + .iconsearch {
  z-index: 0;
  background-color: transparent;
  border: none;
} */
