:root{
  --colorMiddle:rgb(166, 185, 200);
  --colorSoft::rgb(227, 234, 244);
  --colorDark:rgb(7, 43, 20);
}
.input-container1 {
  position: fixed;
  right: 0;
  top: 15px;
  z-index: 8;
  align-items: center;
}
.input-container {
  position: fixed;
  right: 0;
  z-index: 8;
  align-items: center;
}

.inputsearch {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.inputsearch::placeholder {
  color: transparent;
}

.inputsearch:focus::placeholder {
  color: rgb(131, 128, 128);
}

.inputsearch:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid var(--colorDark);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.iconsearch {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: var(--colorDark);
  border: 1px solid var(--colorSoft);
}

.inputsearch:focus + .iconsearch,.inputsearch:not(:placeholder-shown) + .iconsearch {
  z-index: 0;
  background-color: transparent;
  border: none;
}
