:root{
  --colorMiddle:rgb(166, 185, 200);
  --colorSoft::rgb(227, 234, 244);
  --colorDark:rgb(7, 43, 20);
}

*{
  font-family:'Oswald', sans-serif ;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: 'Exo 2', sans-serif;
}
/* background generale */
.body_bg{
  background:linear-gradient(rgba(7, 43, 20, 0.80), rgba(7, 43, 20, 0.40)), url('.././img/imgbackground.jpg');
}
/* masthead */
.masthead {
    height: 150vh;
    min-height: 500px;
    background-image: url('.././img/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /* titolo welcome */
  .container_titolo{
    margin-bottom: auto;
  }
  .titolo{
    font-weight: bolder;

  }
  .titolobg{
    background: linear-gradient(87deg, rgba(248,248,248,0) 15%, rgba(254,254,254,1) 51%, rgba(255,255,255,0) 85%);
  }
 
  
  .container_article{
   margin-top: 30px;
   
  }

  .text-truncate{
      max-width: 250px;
  }

  .immagini{
    height: 200px;
  }
  /* logout */
  .logout{
    
    text-decoration: none;
  }
  .logout_1{
    margin-top: 5px;
  }
  .logout_btn{
    width: 100px;
    height: 100px;
  }
 
  /* benvenuto vicino al button logout */
  .benvenuto{
  
    color: black;
  }
  .benvenuto:hover{
    border-bottom: transparent;
  }
  .robalogout{
    display: inline-flex;
    position: absolute;
    right: 0px;
  }

 .messaggio{
  margin: 0;
 }
 /* messaggio */
 .container_message{
  margin-bottom: 0px;
 }
 /* button invia canditatura */
 .inviacanditatura{
  background-color: var(--colorDark);
 }
 
 /* barra search */
 .search{
  position: absolute;
   right: 0;
   top: 65px;
 }
 .tastinodettagli{
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 10 !important;
 }
 
 /* login & register */
 .loginregister{
  position: absolute;
  right: 20px;
  display: inline-flex
 }

 .footer{
  background-color: black;

  width: 100%;
 }

 /* logo */
 .logo{
  width: 70px;
  height: 70px;
}
.ultimiarticoli{
  z-index: 10;
}


